<h1>Hello, world!</h1>
<p>방명록을 남겨주세요</p>
<form action="/write">
	<input type="text" name="na" placeholder="이름"><br>
	<textarea name="content"></textarea>	
	<input type="submit">
</form>
<ol>
	<% @books.each do |b| %>
		<li>
		  <%=b.name%> : <%=b.content%>
		  <a href="/delete?id=<%=b.id%>">삭제</a>
		  <a href="/modify?id=<%=b.id%>">수정</a>
		</li>
	<% end %>
</ol>